<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IEDC Gec Thrissur</title>
    <%- include('../partials/events/eventsLinks') %>
  </head>

  <body>
    <%- include('../partials/navbar/navbar') %>
    <!--<div>
      <h1 class="hea" style="text-align: center">Events</h1>
    </div>-->
    <div class="top">
      <div class="backhome">
        <a href="/home">
          <i
            class="fa fa-arrow-left"
            style="font-size: 20px; opacity: 70%; color: #707070"
          ></i>
        </a>
        <a class="backhometext" href="/home"> Back to Home</a>
      </div>
      <div class="iedc">
        <p class="iedcText" style="font-size: 50px">Events</p>
      </div>
    </div>
    <hr style="border: 1px solid #7070701a" />

    <% event.data.forEach(function(obj) { %>

    <div class="row row-content align-left">
      <div class="col-12 col-sm-4 col-md-3">
        <h3 class="head"><%= obj.name %></h3>
        <br />
        description= <%= obj.description %>,Event type=<%= obj.eventType
        %>,Image=<%= obj.photo %>
      </div>
    </div>

    <% }); %> <%- include('../partials/events/eventsScripts') %>
  </body>
</html>
