<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IEDC Gec Thrissur</title>
    <%- include('../partials/events/eventsLinks') %>
  </head>

  <body>
    <%- include('../partials/navbar/navbar') %>
    <!--<div>
      <h1 class="hea" style="text-align: center">Events</h1>
    </div>-->
    <div class="top">
      <div class="backhome">
        <a href="/home">
          <!--i
            class="fa fa-arrow-left"
            style="font-size: 20px; opacity: 70%; color: #707070"
          ></i-->
          <img class="backImage" src="/images/arrow.png" />
        </a>
        <a class="backhometext" href="/home"> Back to Home</a>
      </div>
      <div class="iedc">
        <p class="iedcText" style="font-size: 50px">Events</p>
      </div>
    </div>
    <% i=1 %> <% event.data.forEach(function(obj) { %> <% if(i%2 == 1){ %>
    <div class="row row-content align-left">
      <div class="col-12 col-sm-4 col-md-3">
        <h3 class="head"><%= obj.name %></h3>
        <br />
        description= <%= obj.description %>,Event type=<%= obj.eventType
        %>,Image=<%= obj.photo %>
      </div>
    </div>
    <% } else{ %>
    <div class="row row-contents align-left">
      <div class="col-12 col-sm-4 col-md-3">
        <h3 class="head"><%= obj.name %></h3>
        <br />
        description= <%= obj.description %>,Event type=<%= obj.eventType
        %>,Image=<%= obj.photo %>
      </div>
    </div>
    <% };i++; %> <% }); %> <%- include('../partials/events/eventsFooter') %> <%-
    include('../partials/events/eventsScripts') %>
  </body>
</html>
